@import url(./modern-normalize.css);
@import url(./fontawesome.min.css);
/* @import url(./brands.min.css); */
@import url(./solid.min.css);
@import url(./regular.min.css);

html,
body {
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: auto 1fr auto;
    min-height: 100%;
}

header {
    grid-column: 1 / -1;
    display: flex;
    box-shadow: 0 1px 3px black;
    background-color: #94a3b8;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
}

.loginBtn {
    margin-right: 10px;
}

footer {
    grid-column: 1 / -1;
    text-align: center;
    font-size: 12px;
    padding: 5px;
    box-shadow: 0 -1px 3px black;
    background-color: #94a3b8;
}

/* tabbed navigation */
[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}

.sidebar {
    display: flex;
    flex-direction: column;
    box-shadow: 1px 0 3px -1px black;
}

button {
    text-align: left;
}

.main-content {
    min-height: 100%;
}

.projectButtons {
    display: flex;
    flex-direction: column;
}

/* form modal css */
.taskModal,
.projectModal,
.infoModal,
.editModal {
    display: none;
    position: fixed;
    z-index: 1;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.projectFormClose,
.editTaskFormClose {
    float: right;
    font-size: 20px;
    cursor: pointer;
}

.taskFormMain,
.projectFormMain,
.infoFormMain,
.editFormMain {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.addTaskForm,
.infoForm,
.editForm {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    width: 40%;
    display: flex;
    flex-direction: column;
}

.taskFormClose,
.infoFormClose,
.editTaskFormClose {
    position: absolute;
    top: 12%;
    right: 32%;
    font-size: 20px;
    cursor: pointer;
}

.addTaskForm input,
select,
.infoForm input,
.addProjectForm input,
.editForm input {
    margin-bottom: 1em;
}

.addTaskForm button,
.infoForm button,
.addProjectForm button,
.editForm button {
    width: 40%;
    text-align: center;
}

/* project form modal */
.addProjectForm {
    display: flex;
    justify-content: space-between;
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    width: 25%;
}

#projectTitleError {
    display: none;
}

/* marks a line through a completed task */
.taskCompleted {
    text-decoration: line-through;
}

#deleteTaskBtn,
#infoBtn,
#editTaskBtn,
#projectDeleteBtn {
    font-size: 18px;
    cursor: pointer;
    user-select: none;
    margin: 0 5px;
}

/* lists */
ul {
    /* padding: 1rem; */
    list-style: none;
    padding: 0;
}

li {
    border: 1px solid;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

/* nav bar */
.rightListTask {
    display: flex;
}

.projectBtns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projectButton {
    display: flex;
    flex-grow: 1;
    cursor: pointer;
}

/* affects page with all tasks */
#allTasksWithAddBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

[data-tab-content] {
    padding-left: 1rem;
    padding-right: 1rem;
}

@media screen and (max-width: 480px) {
    .container {
        grid-template-columns: auto;
        grid-template-rows: auto 100px 1fr auto;
    }

    .sidebar {
        overflow: auto;
    }
}
